<% @customers.each do |customer| %>
  <div class="row panel">
    <div class="large-5 columns">
      <b><%= customer.name %></b>
    </div>
    <div class="large-2 large-offset-2 columns">
      <%= link_to "Edit", edit_customer_path(customer), class: "button small round" %>
    </div>
    <div class="large-3 columns">
      <%= link_to "Delete", customer_path(customer), method: "delete", confirm: "Are your sure?", class: "button small round alert" %>
    </div>
  </div>
  <br>
<% end %>
<div class="row">
  <%= link_to "New Customer", new_customer_path, class: "button" %>
</div>
