<% @restaurants.each do |restaurant| %>
  <div class="row panel">
    <div class="small-5 columns">
      <b><%= restaurant.name %></b>
    </div>
    <div class="small-2 small-offset-2 columns">
      <%= link_to "Edit", edit_restaurant_path(restaurant), class: "button small round" %>
    </div>
    <div class="small-3 columns">
      <%= link_to "Delete", restaurant_path(restaurant), method: "delete", confirm: "Are your sure?", class: "button small round alert" %>
    </div>
  </div>
  <br>
<% end %>
<div class="row">
  <%= link_to "New Restaurant", new_restaurant_path, class: "button" %>
</div>
